.notsafe h5{
  color: #FF1919;
  margin-top: 9px;
}

.safefrom h5 {
  margin-top: 9px;
  color: #00B233;
}

.safe h5 {
  margin-top: 9px;
  color: #00B233;
}

.post,
.comment {
  margin-top: 10px;
}
.font-13,
.font-13 p {
  font-size: 13px;
}
.font-12,
.font-12 p {
  font-size: 12px;
}
